/* Estilos personalizados */


.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bg-image {
    background-image: url('../img/pngwing.comfon2.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height:100%;

}

h1, h2 {
    color: #2c3e50;
    text-align: center;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-fluid {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contacto {
    background-color: #f8f9fa;
    padding: 30px 0;
}

.card-img-top{
    width: 200px;
    height: 180px;
}

/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

.menu {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu h1 {
    text-align: center;
    color: #333;
}

.pizza-item {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.pizza-item h2 {
    font-size: 24px;
    margin: 0;
    color: #d9534f;
}

.pizza-item p {
    font-size: 16px;
    color: #555;
}

.price {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #5cb85c;
    margin-top: 10px;
}

.card {
    text-align: center; /* Centra todo el contenido de la card */
}

.card-img-top1 {
    display: block; /* Hace que la imagen se comporte como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    width: 100%; /* Ajusta el ancho de la imagen para agrandarla */
    height:100%; /* Mantiene la proporción de la imagen */
}

/* Sección Nosotros */
.nosotros {
    padding: 50px 20px;
    background-color: #f1f1f1;
}

.nosotros h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.nosotros p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.nosotros h3 {
    font-size: 24px;
    margin-top: 20px;
}

.nosotros ul {
    list-style-type: disc;
    margin: 20px 0 0 20px;
}

.nosotros ul li {
    font-size: 16px;
    color: #555;
}

/* Sección Contacto */
.contacto {
    padding: 50px 20px;
    background-color: #333;
    color: rgb(20, 10, 10);
    text-align: center;
}

.contacto h2 {
    font-size: 32px;
}

.contacto p {
    font-size: 18px;
}